body{
    color: #333;
    font-family: "Segoe UI",Arial,sans-serif;
}

img{
    max-width: 100%;
    max-height: auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed
}

a{
    padding: 13px 22px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
}

a:hover{
    background-color: #ccc;
     color: #000;   
}

.text{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    color: #fff;
    padding: 20px;
    
}

.text__head{
        padding: 30px;
        font-size: 25px;
    }

.text__p{
        line-height: 10px;
        font-size: 18px;
    }

#band{
    width: 100%;
    height: 665px;
}

.band-head{
    font-weight: 400;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 2px;
}

.band-p{
    text-align: center;
    font-style: italic;
    color: #ccc;
}

.band-l{
    text-align: center;
    padding: 0 290px;
    margin-top: 25px;
    color: #000;
    padding-bottom: 75px;
}

.container{
    width: 20.3333%;
    float: left;
}

.band-image{
    width: 155px;
    height: 155px;
    border-radius: 4px;
    margin-left: 318px;
    vertical-align: middle;
    margin-bottom: 115px;
}

.band-text{
    text-align: center;
    margin-left: 375px;
    padding-bottom: 10px;
}

.tour-container{
    background-color: #000;
    width: 100%;
    height: 840px;
}

.tour-head{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 3px;
    color: #fff;
}

.tour-p{
    text-align: center;
    font-style: italic;
    color: #ccc;
    margin-top: 5px;
}

.data{
    width: 770px;
    height: 125px;
    background-color: #fff;
    margin: 40px 290px;
}

.data__p{
        color: #757575;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid #ddd;
    }

.data__s{
        color: #fff;
        background-color: #F44336;
        margin: 10px;
        padding: 1px 3px;
        font-size: 15px;
    }

.data__m{
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

.data__c{
        color: #fff;
        background-color: #000;
        padding: 1px 8px;
        border-radius: 50%;
        margin-left: 620px;
    }

.places{
/*    height: 385px;*/
/*    background-color: #fff;*/
/*    margin: 40px 290px;*/
    margin-left: 51px;
}

.places__p{
        color: #000;
        background-color: #fff;
    }

.pull-left{
    width: 20.3333%;
    float: left;
}

.box{
    margin-left: 235px;
}

.pp{
    padding: 10px;
}

.btn{
    padding: 11px 15px;
    letter-spacing: 0.5px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-left: 19px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.imgg:hover{
=======
#imgg:hover{
>>>>>>> contacts
=======
#imgg:hover{
>>>>>>> contacts
=======
#imgg:hover{
>>>>>>> contacts
    opacity: 0.60;
    cursor: pointer;
}

.contacts-head{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 3px;
    color: #000;
}

.contacts-p{
    text-align: center;
    font-style: italic;
    color: #757575;
    margin-top: 5px;
}

.left{
    width: 49.9999%;
    float: left;
    padding-left: 13px;
}

.left span{
        color: #000;
<<<<<<< HEAD
=======
        font-size: 20px;
>>>>>>> contacts
    }

.left .left-margin{
        margin-left: 18rem;
    }

<<<<<<< HEAD
=======
.b-btn{
    margin-left: -274px
}

>>>>>>> contacts
.contacts-wrapper{
    padding-left: 1rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.leftt{
    width: 37%;
    float: left;
    
}

.name-email{
<<<<<<< HEAD
    margin: 5px;
    padding: 5px;
=======
    margin: 5px 5px 10px 5px;
    padding: 9px;
>>>>>>> contacts
}

#c-pad{
    padding: 3px;
}

.b-send{
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
}

.message{
<<<<<<< HEAD
        margin: 5px;
        padding: 5px;
=======
        margin: 5px 5px 10px 5px;
        padding: 8px;
    width: 67%;
}

.drop-down-content{
    display: none;
}

.inline{
    position: absolute;
    display: inline-block;
}

.inline:hover .drop-down{
    background-color: #ccc;
    color: #000;
}

.inline:hover .drop-down-content{
    display: block;
}

.block{
    display: block;
    background-color: #fff;
    color: #000;
    height: 52px;
}

.search{
    color: #fff;
    padding: 15px 27px;
}

.right{
    float: right;
}

.search:hover{
    background-color: red;
}

.details{
    padding-top: 60px;
    padding-bottom: 190px;
}

.icons{
    font-size: 25px;
    margin-top: 64px;
    margin-bottom: 64px;
    
}

.hover:hover{
    opacity: 0.60;
}

.footer-p{
    font-size: 18px;
    color: #ccc;
}

.footer-p a{
        font-size: 18px;
        color: #ccc;
        text-decoration: underline;
        margin: 0;
        padding: 0;
    }

.footer-p a:hover{
    background-color: transparent;
>>>>>>> contacts
}