.contacts-head{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 3px;
    color: #000;
}
.contacts-p{
    text-align: center;
    font-style: italic;
    color: #757575;
    margin-top: 5px;
}

.left{
    width: 49.9999%;
    float: left;
    padding-left: 13px;
    
    span{
        color: #000;
<<<<<<< HEAD
=======
        font-size: 20px;
>>>>>>> contacts
    }
    
    .left-margin{
        margin-left: 18rem;
    }
}

<<<<<<< HEAD
=======
.b-btn{
    margin-left: -274px
}

>>>>>>> contacts
.contacts-wrapper{
    padding-left: 1rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.leftt{
    width: 37%;
    float: left;
    
}

.name-email{
<<<<<<< HEAD
    margin: 5px;
    padding: 5px;
=======
    margin: 5px 5px 10px 5px;
    padding: 9px;
>>>>>>> contacts
}
#c-pad{
    padding: 3px;
}
.b-send{
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
}
.message{
<<<<<<< HEAD
        margin: 5px;
        padding: 5px;
=======
        margin: 5px 5px 10px 5px;
        padding: 8px;
    width: 67%;
}

.drop-down-content{
    display: none;
}

.inline{
    position: absolute;
    display: inline-block;
}

.inline:hover .drop-down{
    background-color: #ccc;
    color: #000;
}

.inline:hover .drop-down-content{
    display: block;
}

.block{
    display: block;
    background-color: #fff;
    color: #000;
    height: 52px;
}

.search{
    color: #fff;
    padding: 15px 27px;
}

.right{
    float: right;
}

.search:hover{
    background-color: red;
}

.details{
    padding-top: 60px;
    padding-bottom: 190px;
}

.icons{
    font-size: 25px;
    margin-top: 64px;
    margin-bottom: 64px;
    
}

.hover:hover{
    opacity: 0.60;
}

.footer-p{
    font-size: 18px;
    color: #ccc;
    a{
        font-size: 18px;
        color: #ccc;
        text-decoration: underline;
        margin: 0;
        padding: 0;
    }
}

.footer-p a:hover{
    background-color: transparent;
>>>>>>> contacts
}