.header{
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background-color: #000;
    position: fixed
}
a{
    padding: 13px 22px;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    font-size: larger;
}
a:hover{
    background-color: #ccc;
     color: #000;   
}

.text{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0%);
    color: #fff;
    padding: 20px;
    
    &__head{
        padding: 30px;
        font-size: 25px;
    }
    
    &__p{
        line-height: 10px;
        font-size: 18px;
    }
    
}

