#band{
    width: 100%;
    height: 665px;
}

.band-head{
    font-weight: 400;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 2px;
}
.band-p{
    text-align: center;
    font-style: italic;
    color: #ccc;
}
.band-l{
    text-align: center;
    padding: 0 290px;
    margin-top: 25px;
    color: #000;
    padding-bottom: 75px;
}

.container{
    width: 20.3333%;
    float: left;
}
.band-image{
    width: 155px;
    height: 155px;
    border-radius: 4px;
    margin-left: 318px;
    vertical-align: middle;
    margin-bottom: 115px;
}
.band-text{
    text-align: center;
    margin-left: 375px;
    padding-bottom: 10px;
}