.tour-container{
    background-color: #000;
    width: 100%;
    height: 840px;
}
.tour-head{
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    padding: 85px 10px 15px 10px;
    letter-spacing: 3px;
    color: #fff;
}
.tour-p{
    text-align: center;
    font-style: italic;
    color: #ccc;
    margin-top: 5px;
}
.data{
    width: 770px;
    height: 125px;
    background-color: #fff;
    margin: 40px 290px;
    
    &__p{
        color: #757575;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid #ddd;
    }
    
    &__s{
        color: #fff;
        background-color: #F44336;
        margin: 10px;
        padding: 1px 3px;
        font-size: 15px;
    }
    
    &__m{
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    &__c{
        color: #fff;
        background-color: #000;
        padding: 1px 8px;
        border-radius: 50%;
        margin-left: 620px;
    }
}

.places{
/*    height: 385px;*/
/*    background-color: #fff;*/
/*    margin: 40px 290px;*/
    margin-left: 51px;
    
    &__p{
        color: #000;
        background-color: #fff;
    }
}

.pull-left{
    width: 20.3333%;
    float: left;
}
.box{
    margin-left: 235px;
}

.pp{
    padding: 10px;
}

.btn{
    padding: 11px 15px;
    letter-spacing: 0.5px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-left: 19px;
    margin-bottom: 10px;
}

.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.imgg:hover{
=======
#imgg:hover{
>>>>>>> contacts
=======
#imgg:hover{
>>>>>>> contacts
=======
#imgg:hover{
>>>>>>> contacts
    opacity: 0.60;
    cursor: pointer;
}